/* style.css */

@import url('https://fonts.googleapis.com/css?family=Molle:400i|Permanent+Marker|Zhi+Mang+Xing&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 968px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background: #ffffff;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

img {
    width: 100%;
}

tr, td {
    padding: .5rem 3rem .5rem .5rem;
}

th {
    background: #0069D9;
    color: #ffffff;
    padding: .5rem 3rem .5rem .5rem;
    text-align: center;
}

h1 {
    background: #0069D9;
    color: #ffffff;
    padding: 1rem;
    margin: 0;
    text-align: center;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #ffffff;
}

h3 {
    background: #0069D9;
    color: #ffffff;
    padding: 1rem;
    margin: 0;
    text-align: center;
}

h4 {
    text-align: center;
    padding: 1rem;
}

h4 a:link, a:visited {
    color: #0069D9;
}

form {
    background: #ffffff;
    padding: 1rem;
    margin: 1rem;
}

fieldset {
    margin: 1rem;
    padding: 1rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
}

legend {
    background: #0069D9;
    color: #ffffff;
    padding: .5rem;
    margin: auto;
    border-radius: 5px;
    font-size: 1rem;
}

footer {
    background: #0069D9;
    color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.info {
    background: #0069D9;
    color: #ffffff;
    padding: 1rem;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.name_class {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    height: 400px;
}

.red {
    background: #290e0e;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    height: 400px;
}

.blue {
    background: #272a49;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    height: 400px;
}

.green {
    background: #193a14;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    height: 400px;
}

.oops {
    background: #ff0202;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    height: 400px;
}

.zhi {
    background: #563289;
    color: #ffffff;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 3rem;
    padding: 2rem;
    height: 400px;
}

.molle {
    background: #327889;
    font-family: 'Molle', cursive;
    font-size: 3rem;
    padding: 2rem;
    height: 400px;
}

.marker {
    background: #328932;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    padding: 2rem;
    height: 400px;
}